body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* binding animation */
    animation: dj 8s infinite linear;
}

div{
    height: 150px;
    width: 150px;
    background-color: deeppink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* binding  an animation */
    animation-name: demo;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-timing-function: linear;
    animation-duration: alternate;
}

div i{
    font-size: 50px;
    color: white;
    
}

@keyframes demo {
    from{
        transform: rotate(0deg);
        background-color: deeppink;
        border: 0px solid dodgerblue;
    }
    to{
        transform: rotate(360deg);
        background-color: darkblue;
        border: 10px solid dodgerblue;
    }
}

@keyframes dj {
    0%{
        background-color: red;
    }
    20%{
        background-color: aqua;
    }
    40%{
        background-color: brown;
    }
    60%{
        background-color: chartreuse;
    }
    80%{
        background-color: darkslategray;
    }
    100%{
        background-color: black;
    }
}