img{
    height: 200px;
    width: 250px;
    /* float: right; */
    /* left/right/none */
    opacity: 0.5;
}

p{
    background-color: aqua;
    width: 600px;
    float: right;
    opacity: 0.9;
}

.blk{
    border: 2px solid red;
    height: 300px;
    width: 200px;
    display: inline-block;
    text-align: justify;
    
    
}

.blk1{
    overflow: visible;
}

.blk2{
    overflow: hidden;
}

.blk3{
    overflow: scroll;
}

.blk4{
    overflow: auto;
}