#grid_container{
    background-color: aqua;
    display: grid;
    height: max-content;
    /* grid-template-columns: number of columns and width of each column */
    grid-template-columns: 200px 300px 400px;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(3,auto); */

    /* grid-template-rows: height of each row */
    grid-template-rows: 300px 200px 200px;
    /* grid-template-rows: 300px 200px 200px; */
    /* grid-template-rows: repeat(3,200px); */

    row-gap: 2px;
    column-gap: 2px;
    /* gap: 5px; */


}

#grid_container .grid_item{
    background-color: purple;
    color: white;
}

#grid_container .grid_item:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: 1/3; */

    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-row: 1/3; */
}

#grid_container .grid_item:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
}

#grid_container .grid_item:nth-child(3){
    grid-column: 1/4;

}

#grid_container .grid_item:nth-child(4){
    grid-row: 4/6;
}