section{
    font-size: 25px;
    text-transform: uppercase;
    display: none;
}

@media screen and (max-width:600px) {
    .mobile{
        display: block;
    }
    body{
        background-color: blue;
    }
}

@media screen and (min-width:601px) and (max-width:1200px) {
    .tab{
        display: block;
    }
    body{
        background-color: yellow;
    }
    
}

@media screen and (min-width:1201px) {
    .laptop{
        display: block;
    }
    body{
        background-color: red;
    }
    
}