*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_container{
    height: 400px;
    width: 650px;
    /* border: 1px solid; */
    display: flex;
}
#main_container .form_blk{
    height: inherit;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
#main_container .form_blk form{
    /* border: 1px solid red; */
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#main_container .form_blk form input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(234, 233, 233);
    padding: 0px 10px;
    border-radius: 5px;
}
#main_container .form_blk form button{
    height: 35px ;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(102, 178, 102);
    border: none;
    color: white;
}
#main_container .content_blk{
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(170, 244, 170),rgb(72, 189, 119));
}
#main_container .content_blk section{
    height: 150px;
    width: 80%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    color: white;
}
#main_container .content_blk section p{
    font-size: 14px;
}
#main_container .content_blk section button{
    font-size: 10px;
    background-color: rgb(26, 187, 123);
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
} 