#grid_container{
    background-color: grey;
    display: grid;
    height: 700px;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,200px);
    gap: 5px;

}

#grid_container .grid_item{
    background-color: orange;
    color: white;
    
}

#grid_container .grid_item:first-child{
    grid-row: 1/3;

}