*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

#iphone{
    margin: 40px auto;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid black;
    line-height: 2;

}

#iphone img{
    
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.button{
    display: flex;
    width: 100%;
}

.buttons button{
    flex: 1;
    height: 45px;
    border: none;
    padding: 14px 0;
    font-size: 14px;
   
}

.c1{
    background-color: yellow;
    display: inline-block;
}

.c2{
    background-color: orange;
    display: inline-block;
}