*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg,rgb(74, 74, 197),  rgb(224, 54, 187)); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_container{
    height: 500px;
    width: 400px;
    display: flex;
    border: 1px solid;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;

}

#main_container form{
    /* border: 1px solid red; */
    width: 70%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main_container form input{
    width: 100%;
    height: 40px;
    background-color: rgb(211, 210, 210);
    border: none;
    outline: none;
    padding: 0px 10px;
}

#main_container form button{
    height:40px ;
    width: 100%;
    background-color: rgb(220, 36, 137);
    color: white;
    border: none
}

#main_container p{
    font-size: 18px;
  
}

#main_container .social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

#main_container .img1{
    border: 1px solid;
    padding: 10px 18px;
    background: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    
    

}

#main_container .img2{
    border: 1px solid;
    padding: 10px 18px;
    background: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    
    
    
}


