body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.youtube-icon {
    width: 200px;
    height: 150px;
    background: red;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-icon i {
    font-size: 75px;
    color: white;
    transform: rotate(90deg); 
}
